@font-face {
    font-family: "ztgapha";
    src: url(../fonts/ZTGatha-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}

body{
    font-family: 'ztgapha';
    background-color: #131313;
    color: white;
    height: 100%;
    overflow-x: hidden;

    margin: 0; padding: 0; height: 100%; width: 100%;
    margin-top: 80px;
}

footer{
    margin-bottom: 0px;
    bottom:0;
    width:100%;
}

.logo{

    transition: .5s linear
}


.logo:hover{
    content: url(../images/200w.gif);
    transition: .5s linear;
}

.container{
    margin:100px auto;
    width: 100%;
}

.row{
    min-width: 100%;
    padding-bottom: 25px;
}


@media screen and (min-width:600px){
    
.newsContainer{
    
    background-color: #131313;
    min-height: 350px;
    width: 100%;
    border-radius: 10px;
    border: .5px solid rgb(60, 60, 60);
    cursor: pointer;
    overflow-x: scroll;
}

.myOtherContainer{
    
    background-color: #131313;
    
    border-radius: 10px;
    border: .5px solid rgb(60, 60, 60);
    min-height: fit-content;
}

}
nav{
    position: sticky;
    margin: 0px 25px;
    height: 80px;
    border-bottom: 1px  solid #232323;

    backdrop-filter: blur(15px);
}

.navbar-collapse, .navbar-nav, .nav-link {
    height: 100%;
}


@media screen and (max-width:991.98px) {
.bg-dark{
    background-color: black !important;
}
.navbar-nav {
    background-color: black;padding-bottom: 25px; min-height: 250px; 
}
li.nav-item {
    width: 50%;
}
}


.bg-dark{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

li{
    min-width: 150px;
}

.customcontainer{
    display: grid;
    grid-column-gap: calc(20px * 2);
    grid-template-columns: calc(5 / 12)fr calc(4 / 12)fr calc(3 / 12)fr;
}

.container-fluid{
    border-bottom: 1px solid #232323;
    padding: 15px;

}

.navbar{
    padding: 0;
}

.nav-item{
    position: relative;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: 0.3s linear;
}

.nav-item:hover{
    border-bottom: 3px solid white;
    transition: border-bottom .3s linear;
}


.carousel-control-prev, .carousel-control-next{
    width: 50px;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .5s cubic-bezier();
}


.carousel-control-prev:hover, .carousel-control-nex :hover{
    opacity: 1;
    transition: .5s cubic-bezier();
}

.navbar-nav {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.fixed-top{
    margin: 0;
    padding: 0px 60px;
}

.container{
    width: 100%;
}

.col, .row{
    width: 100%;
}

.myContainer{
    background-color: black; border-radius: 10px; margin: 50px 50px; padding: 40px;
    margin-bottom: 0;
}

:root {
  --linkBack: #3B3B98;
  --linkVisited: #3B3B98; 
  --linkText: #ffffff;
}


a.myLink:visited{
    background-color: var(--linkVisited);
}

a.myLink{
    background-color: var(--linkBack);
    color: var(--linkText);
    padding: 2px;
    text-decoration: none;
    transition: .2s linear;
}

a.myLink:hover  {
    background-color: var(--linkText);
    color: var(--linkBack);
    transition: .2s linear;
}