@font-face {
    font-family: "ztgapha";
    src: url(../fonts/ZTGatha-SemiBold.ttf);
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}

html, body{
    font-family: 'ztgapha';
    background-color: #0b0b0b;
    color: white;
    height: 100%;
    overflow-x: hidden;

    margin: 0; padding: 0; height: 100%; width: 100%;
    margin-top: 40px;
}

footer{
    margin-bottom: 0px;
    bottom:0;
    width:100%;
}

.logo{

    transition: .5s linear
}


.logo:hover{
    content: url(../images/200w.gif);
    transition: .5s linear;
}

.container{
    margin:100px auto;
    width: 100%;
}

.row{
    min-width: 100%;
    padding-bottom: 25px;
}

@media screen and (min-width:600px){
    
.newsContainer{
    background-color: black;
    min-height: 350px;
    width: 100%;
    border-radius: 10px;
    border: .5px solid #232323;
    cursor: pointer;
    overflow-x: scroll;
}

}
nav{
    background-color: black;
    position: sticky;
    margin: 0px 25px;
    height: 80px;
    border-bottom: 1px  solid #232323;

    backdrop-filter: blur(30px);
}

.navbar-collapse, .navbar-nav, .nav-link {
    height: 100%;
}

@media screen and (max-width:991.98px) {
    
.navbar-nav {
    background-color: black; padding-bottom: 25px; min-height: 250px; 
}
}

.nav-link{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

li{
    min-width: 150px;
}

.customcontainer{
    display: grid;
    grid-column-gap: calc(20px * 2);
    grid-template-columns: calc(5 / 12)fr calc(4 / 12)fr calc(3 / 12)fr;
}

.container-fluid{
    border-bottom: 1px solid #232323;
    padding: 15px;

}

.navbar{
    padding: 0;
}

.nav-item{
    position: relative;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: 0.3s linear;
}

.nav-item:hover{
    border-bottom: 3px solid white;
    transition: border-bottom .3s linear;
}


.carousel-control-prev, .carousel-control-next{
    width: 50px;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .5s cubic-bezier();
}


.carousel-control-prev:hover, .carousel-control-nex :hover{
    opacity: 1;
    transition: .5s cubic-bezier();
}

.navbar-nav {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.fixed-top{
    margin: 0;
    padding: 0px 40px;
}